body {
    margin: 0;
    border: 0;
    font-family: 'open_sansregular';
}

.page {
    position: relative;
    z-index: 100;
}

.header {
    width: 100vw;
    height: 100px;
    text-align: center;
    background-color: rgba(166, 181, 238, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.library {
    background-color: rgba(222, 222, 222, 0.3);
    height: 100vh;
    position: relative;
}

.new {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.new button {
    border: none;
    background-color: white;
    height: 3rem;
    border-radius: .75rem;
    padding: 1rem;
    background-color: rgba(222, 222, 222, 0.6);
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.25rem;
}

.new button:hover {
    background-color: rgba(222, 222, 222);
}


#addButton, #formButton {
    font-family: 'open_sansregular';
    font-weight: bold;
}

#bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding-left: 5rem;
    padding-right: 5rem;
    justify-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.book {
    background-color: rgba(130, 179, 229, 0.3);
    width: 25rem;
    height: 15rem;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    animation-name: animatepop;
    animation-duration: .25s
}

.checkReadResult {
    height: 3rem;
    border-radius: .75rem;
    border: none;
    cursor: pointer;
}

.deleteBook {
    height: 3rem;
    border-radius: .75rem;
    border: none;
    cursor: pointer;
    background-color: rgba(194, 194, 194, 0.6);
}

.deleteBook:hover {
    background-color: rgba(194, 194, 194);
}

.checkReadResult,
.deleteBook {
    font-family: 'open_sansregular';
    font-size: 1.25rem;
    width: 90%;
}


.formPopup {
    display: none;
}

.formPopup.show {
    display: block;
}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, .5);
}

input {
   font-family: 'open_sansregular';
   width: 15rem;
   font-size: 1rem;
   font-weight: bold;
}

.formPage {
    background-color: rgba(130, 179, 229);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 20rem;
    gap: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: solid black;
    border-radius: .75rem;
    z-index: 1000;
    font-size: 1.5rem;
    font-weight: bold;
    animation-name: animatepop;
    animation-duration: .25s
}

@keyframes animatepop {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.formContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formContent input,
.formContent button {
    border-radius: .35rem;
    height: 3rem;
}

#formButton {
    cursor: pointer;
    background-color: rgba(166, 181, 238, 0.6);
    border: 1px solid rgba(166, 181, 238, 1);
    font-size: 1rem;
    height: 3rem;
}

#formButton:hover {
    background-color: rgba(166, 181, 238); 
}

.checkReadSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
}

.checkReadSection input {
    width: 1rem;
    height: 1rem;
}

.checkReadResult:hover {
    opacity: 1;
}

@media screen and (max-width: 1600px) {
    .formPage {
        height: 50vh;
    }
}

@media screen and (max-width: 1600px) and (max-height: 700px) {
    .formPage {
        height: 55vh;
    }
}

@media screen and (max-width: 425px) {
    .book {
        width: 20rem;
        height: 15rem;
    }

    #bookshelf {
        padding-left: 0;
        padding-right: 0;
    }


}